Userspace/gsi/killing_sound/1.mp3
Userspace/gsi/killing_sound/2.mp3
Userspace/gsi/killing_sound/3.mp3
Userspace/gsi/killing_sound/4.mp3
Userspace/gsi/killing_sound/5.mp3
Userspace/gsi/killing_sound/extra.mp3
Userspace/gsi/steamid.txt
cpp/